@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Arial", sans-serif;
  background-color: black;
}

p {
  line-height: 1.8;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  height: 100vh;
  gap: 50px;
  background-size: cover;
  background-image: url(./assets/images/background.jpg);
  /* background-repeat: no-repeat; */
}

.container::before{
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.info {
  position: relative;
  max-width: 600px;
  text-align: center;
  color: white;
  padding: 15px;
}

.info span {
  color: rgb(189, 189, 189);
}

.info > :first-child{
  font-size: 3.5em;
}

.job {
  color: yellow;
  padding: 20px 0;
}

.social{
  list-style-type: none;
  position: relative;
  display: flex;
  gap: 10px;
}

.social a {
  display: flex;
}

.social li {
  padding: 18px;
  border: 1px solid white;
  display: flex;
}

.social li img {
  width: 25px;
  filter: invert(1);
  color: white;
}